// Styles imported from Data_Grid_With_Editor.html
@mixin vaadin-crud-template {
     .crud-template {
       .top-bar {
         background: white;
         color: $v-focus-color;
         padding: 0 $v-unit-size / 2;
         border-bottom: valo-border($border: $v-border, $strength: 1.0);
       }

       .padding {
         padding: $v-unit-size / 2;
       }

       .border {
         border: valo-border($v-border)
       }

       .border-top {
         border-top: valo-border($v-border)
       }

       .border-left {
         border-left: valo-border($v-border)
       }

       .filters {
         padding: $v-unit-size / 4;

         .v-slot {
           position: relative;
         }
       }

       .content {
         position: relative;
       }

       .list {
         padding-right: 300px;
       }

       .inspect {
         position: absolute;
         right: 0;
         top: 0;
         background: darken($v-app-background-color, 5%);
         width: 300px !important;
         border-left: 4px solid darken($v-app-background-color, 10%);
       }

       .section {
         padding: $v-unit-size / 4;
       }

       .edit {
         padding: $v-unit-size / 4;
         overflow-x: hidden;
         overflow-y: auto;
         border-left: 1px solid darken($v-app-background-color, 15%);
         border-top: 1px solid darken($v-app-background-color, 15%);
       }

       .search {
         background: transparent;
         border: none;
         box-shadow: none;
         border-bottom: 2px solid $v-focus-color;
         border-radius: 0;
         max-width: 350px;
       }

       .buttons {
         background: $v-app-background-color;
         padding: $v-unit-size / 4;
         border-left: 1px solid darken($v-app-background-color, 15%);
       }

       &[width-range~="-850px"] {
         .list {
           height: 50% !important;
           padding-right: 0;
         }

         .inspect {
           position: static;
           height: 50% !important;
           width: 100% !important;
           border-top: 4px solid darken($v-app-background-color, 10%);
           border-left: none;
         }

         .section, .edit {
           padding: $v-unit-size / 8;
         }

         .half {
           width: 50% !important;
           float: left;
         }
       }

       &[width-range~="-650px"] {
         .half {
           width: 100% !important;
         }
       }
     }
   }

